<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <script src="/web_library/jquery/dist/jquery.min.js"></script>
  <script src="/web_library/qiniu/dist/qiniu.js"></script>
  <script src="/web_library/plupload/js/plupload.full.min.js"></script>

  <script src="/study/controller/layout.client.controller.js"></script>
  <link rel="stylesheet" href="/study/dist/css/layout.client.style.css"/>

  <title></title>


  <!--<script type="text/javascript">-->
    <!--function addScriptTag(src) {-->
      <!--var script = document.createElement('script');-->
      <!--script.setAttribute("type","text/javascript");-->
      <!--script.src = src;-->
      <!--document.body.appendChild(script);-->
    <!--}-->

    <!--window.onload = function () {-->
      <!--addScriptTag('http://search.anccnet.com/searchResult2.aspx?keyword=6901236340288&callback=foo');-->
    <!--};-->

    <!--function foo(data) {-->
      <!--console.log(data);-->
    <!--}-->
  <!--</script>-->

</head>
<body>
<div class="text-container close">
    <span class="text">上海星期8小镇是国内首家采用星期8模式的儿童育乐场所，星期8小镇上海站专为313岁孩子创建的角色扮演主题乐园：近7000平米的场馆，以三分之二的比例打造真实生活场景，既有设施林立的街道，又有各式风格的建筑，更有各色不同品牌商店和工厂，是任孩子体验、娱乐、创造、学习的小一号世界。
星期8小镇如同真实社会般存在着各行各业，可为孩子提供8大领域、50类行业的70多种社会角色扮演内容，孩子可以自由选择喜爱的角色亲自体验。如同真实世界一般，大部分的体验场馆均有专属的角色服装，让孩子完整体验相关职业的工作流程。部分职业装更是直接翻版主题馆赞助商的职业制服，如飞机机长服、消防员服、医疗所等，第一时间帮助孩子进入工作角色。为了培养孩子的独立性，同时保证体验过程不受干扰，大部分主题馆是大人无法陪同进入。大人可以通过主题馆的玻璃墙观看孩子们的体验过程，也可以在主题馆外的公共区域休息。星期8小镇主张让孩子尝尝做大人的滋味，父母们更多的时候扮演着观众的角色，安静地在一旁看着自己孩子的成长。</span>
</div>

<div class="more-button">查看更多</div>


<!--<div class="winner-number">-->
<!--<p class="number">1</p>-->
<!--<p class="do-button">开始抽奖</p>-->
<!--</div>-->
<!--<article>-->
<!--<h1>Internet Explorer 9</h1>-->
<!--<p>Windows Internet Explorer 9（简称 IE9）于 2011 年 3 月 14 日发布.....</p>-->
<!--</article>-->

<!--<img class="water-maker">-->


<!--<iframe src="http://search.anccnet.com/searchResult2.aspx?keyword=6901236340288" width="1200px" height="800px">-->
<!--<iframe id="myframe" src="http://www.baidu.com" width="1200px" height="800px">-->

<!--</iframe>-->

</body>
</html>